<app-header></app-header>

<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user [selected]="user.id === selectedUserId"  [user]="user" (select)="selectUser($event)"></app-user>
      </li>
    }

    <!-- <li *ngFor="let user of users">
      <app-user  [user]="user" (select)="selectUser($event)"></app-user>
    </li> -->

  </ul>

  <!-- <h4>Task of the user</h4> -->
   @if(selectedUser)
   {
     <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
   }
   @else {
      <p id="fallback">Select a user to see their task</p>
   }
   <!-- <app-tasks *ngIf="selectedUser; else fallback" else  [name]="selectedUser!.name"></app-tasks>
   <ng-template #fallback>
    <p id="fallback">Select a user to see their task</p>
   </ng-template> -->
</main>
